
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #7a3e3e;
  color: #2b2d42;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}


.container {
  max-width: 500px;
  width: 100%;
  background: #ffffff;
  padding: 40px 30px;
  text-align: center;
  border-radius: 5px;

}

h1,
h2,
h3 {
  margin-top: 0;
  color: #2b2d42;
}

p {
  color: #000000;
  margin-bottom: 20px;
}


.back-link {
  display: inline-block;
  margin-bottom: 15px;
  color: #6c757d;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.back-link:hover {
  color: #4361ee;
}


.search-box {
  margin-bottom: 25px;
}

.input-group {
  display: flex;
  width: 100%;
}

.input-group input {
  flex: 1;
  padding: 14px;
  border: 2px solid #e9ecef;
  border-right: none;
  border-radius: 8px 0 0 8px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: #4361ee;
}

.input-group button {
  padding: 0 25px;
  background: #4361ee;
  color: #ffffff;
  border: 2px solid #4361ee;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.input-group button:hover {
  background: #3651d1;
  border-color: #3651d1;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#restartBtn{
  background:red;
}
.btn {
  display: block;
  padding: 15px;
  background: #57575b;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.btn[href="game.html"] {
  background: #57575b;
}

.btn:hover {
  transform: translateY(-2px);
  filter: brightness(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


#result {
  margin-top: 25px;
  text-align: left;
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
}

.word-card {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.audio-btn {
  background: #c1b7b7;
  color: #ffffff;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.audio-btn:hover {
  background: #161617;
}

.searching {
  color: #6c757d;
  font-style: italic;
}


.game-section {
  margin-top: 20px;
}

.word-display {
  font-size: 1.6rem;
  letter-spacing: 4px;
  margin-bottom: 15px;
  font-weight: 700;
}

#gameMessage {
  margin-top: 10px;
  font-weight: 600;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


@media (max-width: 480px) {
  .container {
    padding: 30px 20px;
  }

  .word-display {
    font-size: 1.3rem;
  }
}